extends ../layout

block content
	include ../static/dashboard/nav.pug
	.strip
		.contain
			.bind
				.about
					h4.what Invites
					h6 Manage your pending &amp; sent invites
	.contain
		.inner#invites
			.summary.light.nohover
				.grid-row
					.xs-12
						.intro
							.desc
								h5 Pending Invites
						for inv in invites.pending
							.unit
								svg.avatar(data-jdenticon-hash=`${inv.by.avatar}`)
								p #{inv.by.firstname} #{inv.by.lastname} has invited you to #[b #{inv.team.name}]
								span.actions(data-team=inv.team._id)
									a.clr-accept(data-run="accept_invite") Accept
									a.clr-decline(data-run="decline_invite") Decline
			.summary.light.nohover
				.grid-row
					.xs-12
						.intro
							.desc
								h5 Sent Invites
						for inv in invites.sent
							.unit
								p #[i.material-icons.text-grey swap_horiz] You have invited #{inv.to.firstname} #{inv.to.lastname} to #[b #{inv.team.name}]
								small Sent #{moment(inv.created).fromNow()}
