extends ../layout

block content
	include ../static/dashboard/nav.pug
	.strip.has-selection
		.contain
			.bind
				svg.avatar(height="200", width="200", data-jdenticon-hash=user.avatar)
				.about
					h4.what= user.firstname + ' ' + user.lastname
					h6 Manage your account &amp; security details
		.selection
			.contain
				ul.list
					li.item.active(data-target="profile") #[a Profile]
					li.item(data-target="account") #[a Account]
					li.item(data-target="security") #[a Security]
					li.item(data-target="notifications") #[a Notifications]
					li.item.float-right

						p #[i.material-icons email] #{user.email}
	.contain
		.inner.nosub#settings
			.grid-row
				.xs-12
					.section#profile
						.sub
							h3 Profile information
							p General information about your account
						.content
							.input
								h6 First name
								input#input_firstname(type="text", value=user.firstname)
							.input
								h6 Last name
								input#input_lastname(type="text", value=user.lastname)
							.input
								h6 Username
								input#input_username.disabled(type="text", disabled="true", value=user.username)
							.input
								h6 Email
								input#input_email(type="text", value=user.email)
							a.button.green(data-run="update_preferences") Update Preferences

					.section#account
						.sub
							h3 Account details
							p Change your password preferences
						.content
							.input
								h6 Old password
								input(type="password")
							.input
								h6 New password
								input(type="password")
							.input
								h6 Re-enter new password
								input(type="password")
							a.button.green Update Account

					.section#security
						.sub
							h3 Security
							p Control and manage your account security
						.content
							.sessions#all_sessions

					.section#notifications
						.sub
							h3 Notifications
							p Manage your notifications and alerts
						.content
							p Notifications pane will be here
