extends ../layout

block content
	include ../static/dashboard/nav.pug

	.editor(class= shard ? "shard" : "")
		.editable
			.note_container
				.note_editable
					.note_headroom
						svg.avatar#note-avatar(data-jdenticon-hash=note.owner.avatar)
						.note_desc
							p #[span.user #{note.owner.firstname} #{note.owner.lastname}]
							h3= note.title
					div.readonly-note

block footer
	script.
		$('.readonly-note').html(templates.unescape(`#{note.content}`))
