extends ../layout

block content
	include ../static/dashboard/nav.pug
	.strip
		.contain
			h3.what= team[0].name
			.members
				for user in team[0].userlist
					.member_ci
						img(src=user.avatar)
				.member_ci
					img(src=team[0].creator.avatar)
				.member_ci.add(data-modal="open", data-modal-name="modal_invite", data-team=team[0]._id)
					i.material-icons add
			small= `${team[0].userlist.length + 1} member(s)`
	.contain
		.inner#teams
			.grid-row
				.xs-12.s-7
					.summary.light
						.grid-row
							.xs-12
								.intro
									.desc
										h5 Activity Updates
								.unit
									h6 #[i.material-icons.text-green note_add] You created a #[a note]
									small 1 minute ago
								.unit
									h6 #[i.material-icons.text-green note_add] You created a #[a note]
									small 1 minute ago
								.unit
									h6 #[i.material-icons.text-green note_add] You created a #[a note]
									small 1 minute ago
				.xs-12.s-5
					.summary
						.grid-row
							.xs-12
								.intro
									.desc
										h5 Members
								.unit
									img.avatar(src=`${team[0].creator.avatar}`)
									h6 #{team[0].creator.firstname} #{team[0].creator.lastname}
									small #{team[0].creator.email}
								for user in team[0].userlist
									.unit
										img.avatar(src=`${user.avatar}`)
										h6= `${user.firstname} ${user.lastname}`
										small= user.email
