extends ../layout

block content
	include ../static/dashboard/nav.pug
	.contain
		nav.nav.sub
			h4.what Teams
			.float-right.actions
				.input.sm
					input(type="text", placeholder="Search for a team")
					a #[i.material-icons search]
				a.button.primary.sm(data-modal="open", data-modal-name="modal_team") New Team
		.inner#teams
			if (teams.length)
				.summary
					.grid-row
						.xs-12#ls-teams
							.intro
								.desc
									h5 Available teams
							for team in teams
								a.unit(href=`/team/${team._id}`)
									.text-preview(style=`background-color:${team.color}`)
										span= team.name.substr(0,1)
									h6 #{team.name}
									small #[i.material-icons person_outline]#{team.userlist.length + 1} #[i.material-icons book]0
			else
				.grid-row
					.xs-12
						.text-red No teams yet! #[a(data-modal="open", data-modal-name="modal_team") Create one]
