script(src='//code.jquery.com/jquery.js')
script(src='//code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
script(src='/js/iziToast.min.js')
script(src='/js/diff.min.js')
script(src="/js/medium-editor.min.js")
script(src='/socket.io/socket.io.js')
script(src='/js/showtime.js')
script(src='/js/blossom.js')
script(src='/js/jdenticon-1.4.0.min.js')
if (user)
	script.
		let accountHash = {
			_id: "#{user._id}",
			avatar: "#{user.avatar}",
			created: "#{user.created}",
			email: "#{user.email}",
			firstname: "#{user.firstname}",
			lastname: "#{user.lastname}"
		}
block footer
footer
	.contain
		a(href="/").home #[img(src="/images/logo_gray.png")]
		ul.options
			li
				p &copy; 2017 Notekeep
			li
				a(href="/docs") Docs
			li
				a(href="/status") Status
			.float-right
				li
					a(href="/privacy") Privacy
				li
					a(href="/terms") Terms
				li
					a(href="/support") Support
