script(type='text/html', id='tpl-teams')
	a.unit.new(href!="/team/<%= _id %>")
		.text-preview(style!="background-color:<%= color %>")
			span!= '<%= initial %>'
		h6!= '<%= name %>'
		small #[i.material-icons person_outline]
			| <%= members %>
			i.material-icons book
			| 0


script(type='text/html', id='tpl-note')
	.notes.grid-row
		.xs-12
			.desc
				span(style!="background-color:<%= color %>")!= '<%= short %>'
				h5!= '<%= name %>'
		!= '<% _.each(notes, function(note) { %>'
		.xs-12.m-6.l-3
			.note(class!=("<%= note.draft == false ?'published':'draft'%>"), data-note!= '<%= note._id %>', data-run="get_note")
				h6!= '<%= note.title %>'
				p!= '<%= note.plain %>'
				small!= 'Updated <%= note.ago %>'
		!= '<% }) %>'

script(type='text/html', id='tpl-editor_status')
	span.user!='<%= firstname %> <%= lastname %>'
	span.type(class!="<%= status %>")

script(type='text/html', id='tpl-act-create_note')
	.unit
		h6
			i.material-icons.text-green loupe
			!= '<%= by.firstname %> <%= by.lastname %> created note <a href="/notes/<%= note._id %>"><%= note.title %></a>'
		small!= '<%= created %>'

script(type='text/html', id='tpl-act-sent_invite')
	.unit
		h6
			i.material-icons.text-green person_add
			!= '<%= by.firstname %> <%= by.lastname %> sent an invite to <%= to.firstname %> <%= to.lastname %>.'
		small!= '<%= created %>'

script(type='text/html', id='tpl-act-declined_invite')
	.unit
		h6
			i.material-icons.text-red sentiment_dissatisfied
			!= '<%= by.firstname %> <%= by.lastname %> declined the invite to the team.'
		small!= '<%= created %>'

script(type='text/html', id='tpl-act-accepted_invite')
	.unit
		h6
			i.material-icons.text-green done_all
			!= '<%= by.firstname %> <%= by.lastname %> has joined the team.'
		small!= '<%= created %>'

script(type='text/html', id='tpl-act-empty')
	.unit
		h6
			i.material-icons.text-yellow sentiment_dissatisfied
			span.text-light No activites yet
