script(type='text/html', id='tpl-teams')
	a.unit.new(href!="/team/<%= _id %>")
		.text-preview(style!="background-color:<%= color %>")
			span!= '<%= initial %>'
		h6!= '<%= name %>'
		small #[i.material-icons person_outline]
			| <%= members %>
			i.material-icons book
			| 0


script(type='text/html', id='tpl-note')
	.notes.grid-row
		.xs-12
			.desc
				span(style!="background-color:<%= color %>")!= '<%= short %>'
				h5!= '<%= name %>'
		!= '<% _.each(notes, function(note) { %>'
		.xs-12.m-6.l-3
			.note(class!=("<%= note.draft == false ?'published':'draft'%>"), data-note!= '<%= note._id %>', data-run="get_note")
				h6!= '<%= note.title %>'
				p!= '<%= note.plain %>'
				small!= 'Updated <%= note.ago %>'
		!= '<% }) %>'

script(type='text/html', id='tpl-editor_status')
	span.user!='<%= firstname %> <%= lastname %>'
	span.type(class!="<%= status %>")
