script(type='text/html', id='tpl-teams')
	a.unit.new(href!="/team/<%= _id %>")
		.text-preview(style!="background-color:<%= color %>")
			span!= '<%= initial %>'
		h6!= '<%= name %>'
		small #[i.material-icons person_outline]
			| <%= members %>
			i.material-icons book
			| 0

script(type='text/html', id='tpl-notes_private')
	.summary
		.grid-row
			.xs-12
				.intro
					.desc
						h5 Your private notes
			.xs-12.all_notes

script(type='text/html', id='tpl-note')
	.unit(data-note!="<%= _id %>", data-run="get_note")
		h6!="<%= title %>"
		small Modified just now
		.content_plain
			p!= '<%= plain %>'

script(type='text/html', id='tpl-note_created')
	.unit(data-note!="<%= _id %>", data-run="get_note")
		h6!= '<%= title %>'
		small= `Modified just now`
		.content_plain
			p!= '<%= plain %>'

script(type='text/html', id='tpl-editor_status')
	span.user!='<%= firstname %> <%= lastname %>'
	span.type(class!="<%= status %>")

script(type='text/html', id='tpl-act-create_note')
	!= '<% if (note != null) { %>'
	.unit
		h6
			i.material-icons.text-green loupe
			!= '<%= by.firstname %> <%= by.lastname %> created note <a href="/notes/<%= note._id %>"><%= note.title %></a>'
		small!= '<%= created %>'
	!= '<% } else { %>'
	.unit
		h6
			i.material-icons.text-green loupe
			!= '<%= by.firstname %> <%= by.lastname %> created a [deleted] note'
		small!= '<%= created %>'
	!= '<% } %>'


script(type='text/html', id='tpl-act-delete_note')
	.unit
		h6
			i.material-icons.text-red delete_sweep
			!= '<%= by.firstname %> <%= by.lastname %> deleted a note</b>'
		small!= '<%= created %>'

script(type='text/html', id='tpl-act-sent_invite')
	.unit
		h6
			i.material-icons.text-green person_add
			!= '<%= by.firstname %> <%= by.lastname %> sent an invite to <%= to.firstname %> <%= to.lastname %>.'
		small!= '<%= created %>'

script(type='text/html', id='tpl-act-declined_invite')
	.unit
		h6
			i.material-icons.text-red sentiment_dissatisfied
			!= '<%= by.firstname %> <%= by.lastname %> declined the invite to the team.'
		small!= '<%= created %>'

script(type='text/html', id='tpl-act-accepted_invite')
	.unit
		h6
			i.material-icons.text-green done_all
			!= '<%= by.firstname %> <%= by.lastname %> has joined the team.'
		small!= '<%= created %>'

script(type='text/html', id='tpl-act-empty')
	.unit
		h6
			i.material-icons.text-yellow sentiment_dissatisfied
			span.text-light No activites yet
