doctype html
html(lang="en")
	body
		.email
			.email-outer
				.email-header
					img(src="http://imgur.com/Bh4MQE7.png", alt="")
					h6.intro Hi #[b=firstname], did you forget your password?
				.email-inner
					p It looks like you've requested a password reset, simply click the button or paste the link below into your browser. This request will expire in #[b 24 hours].
					a.link-to(href=`${host}/reset/${token}`) Reset Password
					a.pasted(href=`${host}/reset/${token}`) #{host}/reset/#{token}
					p If you didn't make the password change ignore it or reply to this email if you think your account has been compromised.
					p Best regards, #[br] Notekeep Support
				.email-footer
					small.main Copyright &copy; 2017
					small.main Notekeep.io
					small You have received this mandatory email announcement to keep you up to date with important changes to your account.
